.image {
   width: 100%;
   display: block;
   height: auto;
   margin: 0 auto;

   &--resize60 {
      width: 60%;
   }

   &--resize40 {
      width: 40%;
   }

   &--icon-small {
      width: 15px;
   }

   &--icon-extra-small {
      width: 14px;
   }

   &--scale {
      transition-duration: 0.2s;

      &:hover {
         transform: scale(1.2);
      }
   }

   &--icon {
      margin: 0;
   }

   &--margin-right-small {
      margin-right: 4px;
   }
}