@import 'src/index';

.aside {
   position: sticky;
   top: 50px;
   left: 0;
   background-color: $second-bg-color;
   width: 60px;
   z-index: 100;
   height: calc(100vh - 50px);

   &__list {
      margin-top: 18px;

      &-item {

      }
   }
}