.home {
   width: calc(100% - 50px);
   padding: 18px;

   &__panel {
      display: flex;

      &-item {

         &--aside {
            flex: 0.5;
         }

         &--content {
            flex: 1;
            margin: 0 18px;
         }
      }
   }
}