@import 'src/index';

.home {
   width: calc(100% - 60px);
   padding: $base-page-padding;

   &__panel {
      display: flex;

      &-item {

         &--aside {
            flex: 0.5;
         }

         &--content {
            flex: 1;
            margin: 0 18px;
         }
      }
   }
}